.list {
	display: grid;
	grid-template-columns: repeat(5, auto);
	gap: 10px;
	list-style: none;
}
.item {
	border: 1px solid black;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.item img {
	display: block;
}

.title-hero {
	width: 100%;
	height: 40px;
	background: rgba(0, 0, 0, 0.5);
	text-align: center;
	color: white;
	margin: 0;
}
